################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewFileUpload
/NewFileUpload/bin/Debug/net5.0
/NewFileUpload/obj
